

<div *ngFor="let movie of movies" class="movie-card">
  <div class="container">
    <img [src]="movie.imgLink" alt="{{ movie.title }}" />
  </div>
  <div class="details">
    <h3>{{ movie.title }}</h3>
    <p>{{ movie.description }}</p>
    <p>Duration: {{ movie.duration }} minutes</p>
    <p>Language: {{ movie.language }}</p>
    <p>Release Date: {{ movie.releaseDate | date }}</p>
    <p>Censorship: {{ movie.censorship }}</p>
    <p><strong>Location:</strong> {{ movie.location?.locationName || 'N/A' }}</p>
    <a [href]="movie.trailerLink" target="_blank">Watch Trailer</a>
  </div>
</div>
