/* styles.css or movies.component.css */
.movie-card {
  display: flex;
  margin: 20px;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05); /* Increase the size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.container {
  overflow: hidden;
  border-radius: 8px;
}

img {
  width: 300px; /* Set your desired width */
  height: 400px; /* Set your desired height */
  border-radius: 8px;
}

.details {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 0 0 8px 8px;
}

a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #2980b9;
}
